In [1]:
library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source("tests.R")
source('cleanup.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches


── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard()   masks purrr::discard()
✖ dplyr::filter()     masks stats::filter()
✖ recipes::fixed()    masks stringr::fixed()
✖ testthat::is_null() masks purrr::is_null()
✖ dplyr::lag()        masks stats::lag()
✖ rsample::matches()  masks testthat::matches(), dplyr::matches(), tidyr::matches()
✖ yardstick::spec()   masks readr::spec()
✖ recipes::step()     masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [2]:
audit_trial <- read_csv("trial.csv")
audit_trial

Rows: 776 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): LOCATION_ID
dbl (17): Sector_score, PARA_A, SCORE_A, PARA_B, SCORE_B, TOTAL, numbers, Ma...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Sector_score LOCATION_ID PARA_A SCORE_A PARA_B SCORE_B TOTAL numbers Marks
1   3.89         23          4.18   6       2.50   2       6.68  5       2
2   3.89         6           0.00   2       4.83   2       4.83  5       2
3   3.89         6           0.51   2       0.23   2       0.74  5       2
⋮   ⋮            ⋮           ⋮      ⋮       ⋮      ⋮       ⋮     ⋮       ⋮
774 55.57        14          0.24   2       0.04   2       0.28  5       2
775 55.57        18          0.20   2       0.00   2       0.20  5       2
776 55.57        15          0.00   2       0.00   2       0.00  5       2
    Money_Value MONEY_Marks District Loss LOSS_SCORE History History_score
1   3.38        2           2        0    2          0       2
2   0.94        2           2        0    2          0       2
3   0.00        2           2        0    2          0       2
⋮   ⋮           ⋮           ⋮        ⋮    ⋮          ⋮       ⋮
774 0.00        2           2        0    2          0       2
775 0.00        2           2        0    2          0       2
776 0.32        2           2        0    2          0       2
    Score Risk
1   2.4   1
2   2.0   0
3   2.0   0
⋮   ⋮     ⋮
774 2     0
775 2     0
776 2     0

In [22]:
audit_trial_split <- initial_split(audit_trial, prop = 0.75, strata = TOTAL)
audit_trial_train <- training(audit_trial_split)
audit_trial_test <- testing(audit_trial_split)

In [26]:
audit_trial_train

nrow(audit_trial_train)


group_by(..., ...) |>
summarize(min_total = min(..., na.rm = TRUE),
          max_total = max(..., na.rm = TRUE))

audit_trial_train |>
summarize(across(...:..., mean, na.rm = TRUE))

trail_plot <- ggplot(audit_trial_train, aes(x = ..., y = ...)) +
  geom_point(alpha = 0.4) +
  xlab("...") +
  ylab("...") +
  theme(text = element_text(size = 12))

    Sector_score LOCATION_ID PARA_A SCORE_A PARA_B SCORE_B TOTAL numbers Marks
1   3.89         6           0      2       0.08   2       0.08  5       2
2   3.89         19          0      2       0.00   2       0.00  5       2
3   3.89         11          0      2       0.00   2       0.00  5       2
⋮   ⋮            ⋮           ⋮      ⋮       ⋮      ⋮       ⋮     ⋮       ⋮
578 55.57        12          3.10   6       4.66   6       7.76  5       2
579 55.57        8           0.45   2       8.27   6       8.72  5       2
580 55.57        32          0.00   2       8.49   6       8.49  5       2
    Money_Value MONEY_Marks District Loss LOSS_SCORE History History_score
1   0.00        2           2        0    2          0       2
2   0.00        2           2        0    2          0       2
3   1.75        2           2        0    2          0       2
⋮   ⋮           ⋮           ⋮        ⋮    ⋮          ⋮       ⋮
578 0.59        2           2        0    2          0       2
579 9.43        4           4        0    2          0       2
580 0.43        2           2        0    2          0       2
    Score Risk
1   2     0
2   2     0
3   2     0
⋮   ⋮     ⋮
578 3.6   1
579 3.6   1
580 3.2   1

   Sector_score min_total max_total
1  1.85         0.00       81.41
2  1.99         0.29      191.36
3  2.34         0.00        0.00
⋮  ⋮            ⋮         ⋮
11 21.61        0          86.06
12 55.57        0         114.49
13 59.85        0           8.63

  PARA_A   SCORE_A  PARA_B   SCORE_B
1 2.503155 3.493103 11.09422 3.110345

[1] 580